html,
body,
#root {
  /* 
  margin: 0;
  padding: 0;
  height: 100%; */
  text-align: center;
/* font-family: "Roboto","Helvetica","Arial",sans-serif; */

}
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Permanent+Marker&display=swap');

.Box {
  display: inline-block;
  text-align: center;
  border: 1px solid grey;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  width: 30%;
}
